.jumbotron{
    background-color: gray;
    color: white;
}
.h a {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}
.jumbotron{
    background-color: gray;
    color: white;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
}

hr.rounded {
    border-top: 8px solid #bbb;
    border-radius: 5px;
}